<h1><%= @restaurant.name %></h1>

<small><%= link_to "Delete", restaurant_path(@restaurant), method: :delete, data: { confirm: 'Are you sure?' } %></small>

<ul>
  <li>Address: <strong><%= @restaurant.address %></strong></li>
  <li>Rating: <strong><%= @restaurant.rating %></strong></li>
</ul>

<%= link_to "Back to restaurants", restaurants_path %>